*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bigHeader{
    height: 40px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

